@model IEnumerable<Docente>
@foreach (var d in Model)
{

    <div>
        <span>
            Docente: @d.Nome
        </span>
        <br />
        <span>
            Docente: @d.Cognome
        </span>

    </div>

}

<h2>Index</h2>


