<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Super Finsa</title>
	<link href="~/lib/bootstrap4.1.3/css/bootstrap.css" rel="stylesheet" />
	
</head>
<body >

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div>
				<ul class="nav navbar-nav">					
					<li><a asp-controller="Corso" asp-action="Index">Lista Corsi</a></li>
					<li><a asp-controller="Corso" asp-action="AggiungiCorso">Aggiungi nuovo corso</a></li>
					<li><a asp-controller="Docente" asp-action="Index">Docenti</a></li>
					<li><a asp-controller="Studente" asp-action="IscriviStudente">Iscrivi Studente</a></li>
					<li><a asp-controller="Studente" asp-action="Index">Studenti iscritti</a></li>
				</ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        <div class="row">
            @RenderBody()
        </div>
    </div>
</body>
</html>