<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Super Finsa</title>
    <link href="~/css/style.css" rel="stylesheet" />
    


</head>
<body>

    <nav>
        <div>
            <div>
                <ul>
                    <li><a asp-controller="Aula" asp-action="AggiungiAula">Aggiungi aula</a></li>
                    <li><a asp-controller="Corso" asp-action="CercaCorsi">Cerca corsi</a></li>

                    <li><a asp-controller="Corso" asp-action="Index">Lista Corsi</a></li>
                    <li><a asp-controller="Corso" asp-action="AggiungiCorso">Aggiungi nuovo corso</a></li>
                    <li><a asp-controller="Corso" asp-action="UpdateCorso">Modifica Corso</a></li>

                    <li><a asp-controller="Docente" asp-action="Index">Docenti</a></li>
                    <li><a asp-controller="Studente" asp-action="IscriviStudente">Iscrivi Studente</a></li>
                    <li><a asp-controller="Studente" asp-action="Index">Studenti iscritti</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <div>
            @RenderBody()
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>